.elementor-27 .elementor-element.elementor-element-6d1bc8b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
}

.elementor-27 .elementor-element.elementor-element-6d1bc8b:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-6d1bc8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-27 .elementor-element.elementor-element-6d1bc8b,
.elementor-27 .elementor-element.elementor-element-6d1bc8b::before {
    --border-transition: 0.3s;
}

.elementor-27 .elementor-element.elementor-element-f6310be {
    text-align: left;
    color: var( --e-global-color-b1463da);
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
}

.elementor-27 .elementor-element.elementor-element-f6310be>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-f6310be.elementor-element {
    --align-self: center;
}

.elementor-27 .elementor-element.elementor-element-b96c233 {
    --alignment: right;
    --grid-side-margin: 5px;
    --grid-column-gap: 5px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
}

.elementor-27 .elementor-element.elementor-element-b96c233 .elementor-share-btn {
    font-size: calc(0.5px * 10);
}

.elementor-27 .elementor-element.elementor-element-b96c233 .elementor-share-btn__icon {
    --e-share-buttons-icon-size: 2.6em;
}

.elementor-27 .elementor-element.elementor-element-3c746b0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
}

.elementor-27 .elementor-element.elementor-element-3c746b0:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-3c746b0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-b1463da);
}

.elementor-27 .elementor-element.elementor-element-3c746b0,
.elementor-27 .elementor-element.elementor-element-3c746b0::before {
    --border-transition: 0.3s;
}

.elementor-27 .elementor-element.elementor-element-3c746b0.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-27 .elementor-element.elementor-element-2fdc10a {
    text-align: left;
    width: var( --container-widget-width, 16.754%);
    max-width: 16.754%;
    --container-widget-width: 16.754%;
    --container-widget-flex-grow: 0;
}

.elementor-27 .elementor-element.elementor-element-2fdc10a img {
    width: 100%;
}

.elementor-27 .elementor-element.elementor-element-2fdc10a.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-27 .elementor-element.elementor-element-4f13d36 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: var( --e-global-color-b1463da);
}

.elementor-27 .elementor-element.elementor-element-4f13d36 .elementor-nav-menu .elementor-item {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-27 .elementor-element.elementor-element-4f13d36 .elementor-nav-menu--dropdown a,
.elementor-27 .elementor-element.elementor-element-4f13d36 .elementor-menu-toggle {
    color: var( --e-global-color-b1463da);
}

.elementor-27 .elementor-element.elementor-element-4f13d36 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-secondary);
}

.elementor-27 .elementor-element.elementor-element-4f13d36 div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-27 .elementor-element.elementor-element-4f13d36 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-27 .elementor-element.elementor-element-f5dcc2b .elementor-button {
    background-color: transparent;
    background-image: linear-gradient(44deg, var( --e-global-color-accent) 0%, #004B22 100%);
    border-radius: 20px 20px 20px 20px;
}

.elementor-27 .elementor-element.elementor-element-f5dcc2b .elementor-button:hover,
.elementor-27 .elementor-element.elementor-element-f5dcc2b .elementor-button:focus {
    color: var( --e-global-color-b1463da);
    background-color: var( --e-global-color-primary);
}

.elementor-27 .elementor-element.elementor-element-f5dcc2b .elementor-button:hover svg,
.elementor-27 .elementor-element.elementor-element-f5dcc2b .elementor-button:focus svg {
    fill: var( --e-global-color-b1463da);
}

@media(max-width:1024px) {
    .elementor-27 .elementor-element.elementor-element-b96c233 {
        --grid-side-margin: 5px;
        --grid-column-gap: 5px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }
}

@media(max-width:767px) {
    .elementor-27 .elementor-element.elementor-element-6d1bc8b {
        --justify-content: center;
    }
    .elementor-27 .elementor-element.elementor-element-f6310be {
        text-align: center;
    }
    .elementor-27 .elementor-element.elementor-element-b96c233 {
        --grid-side-margin: 5px;
        --grid-column-gap: 5px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }
    .elementor-27 .elementor-element.elementor-element-2fdc10a img {
        height: 42px;
    }
    .elementor-27 .elementor-element.elementor-element-2fdc10a {
        width: var( --container-widget-width, 164.922px);
        max-width: 164.922px;
        --container-widget-width: 164.922px;
        --container-widget-flex-grow: 0;
    }
}